.header {
  display: grid;
  grid-template-columns: auto min-content 1fr;
  column-gap: 20px;

  align-items: center;
}

.sort {
  justify-self: end;
}

.productList {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.productList > li:not(:last-child) {
  margin-bottom: 30px;
}

.titleWithTag {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;

  align-items: center;
  justify-items: start;

  margin-top: 50px;
  margin-bottom: 24px;
}

.titleWithTag h2 {
  margin-top: 0;
}

.seoText {
  margin-top: 50px;
}

.seoText h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
}

.seoText h2 {
  margin-top: 50px;

  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}

.seoText h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
}

@media (max-width: 1200px) {
  .titleWithTag {
    margin-bottom: 30px;
  }
}
