.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  grid-template-areas:
    ". header header ."
    ". sidebar main ."
    "footer footer footer footer";
  column-gap: 30px;

  min-height: 100vh;
}

.skipMenu {
  position: fixed;
  top: 5px;
  left: 100px;

  display: block;
  overflow: hidden;

  height: 0;
  padding: 0;

  color: var(--white);
  border: none;
  background-color: var(--primary);
}

.skipMenu:focus {
  height: auto;
  padding: 5px 10px;
}

.header {
  grid-area: header;

  display: none;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;

  padding-top: 40px;
  padding-bottom: 49px;

  outline: none;
}

.footer {
  grid-area: footer;
}

@media screen and (max-width: 767.98px) {
  .wrapper {
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(320px, 1200px);
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .sidebar {
    display: none;
  }

  .header {
    display: grid;
  }

  .main {
    padding: 20px 15px 29px;
  }
}
