.reviewForm {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 20px;
  row-gap: 30px;

  align-items: center;

  font-size: 14px;
  line-height: 24px;
}

.reviewForm input:nth-of-type(2) {
  justify-self: left;
}

.ratingBlock {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;

  align-items: center;
}

.textarea {
  grid-column: 1 / -1;

  width: 100%;
}

.submit {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 148px auto;
  column-gap: 15px;

  align-items: center;
}

.submit p {
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .reviewForm {
    grid-template-columns: 1fr 1fr;
  }

  .reviewForm input {
    width: 100%;
  }

  .reviewForm input:nth-of-type(2) {
    justify-self: unset;
  }

  .ratingBlock {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 768px) and (max-width: 920px) {
  .reviewForm {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

@media screen and (max-width: 640px) {
  .reviewForm {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .submit {
    grid-template-columns: 1fr;
    row-gap: 15px;

    text-align: center;
  }
}

/* success alert */

.success {
  position: relative;

  margin-top: 30px;
  padding: 20px;

  color: var(--green);
  border-radius: 5px;
  background-color: var(--green-light);

  font-size: 14px;
  line-height: 24px;
}

.successTitle {
  margin: 0;
  margin-bottom: 10px;

  font-weight: bold;
}

.successText {
  margin: 0;
}

.alertClose {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 10px;

  cursor: pointer;
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;

  border: none;
  background-color: transparent;
}

.alertClose svg {
  display: block;
}

.alertClose:enabled:hover {
  transform: rotate(-90deg);
}

.alertClose:enabled:active {
  opacity: 0.7;
}

/* error alert */

.error {
  position: relative;

  margin-top: 30px;
  padding: 20px;

  color: var(--tomato);
  border: 1px solid var(--tomato);
  border-radius: 5px;
  background-color: var(--white);

  font-size: 14px;
  line-height: 24px;
}

.error .alertClose svg {
  stroke: var(--tomato);
}

.errorMessage {
  margin: 0;
}
