.wrapper {
  position: relative;

  padding-right: 95px;
}

.error svg {
  stroke: var(--tomato);
}

.rating {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.rating button {
  cursor: pointer;
}

.rating li .star {
  display: block;

  width: 25px;
  padding-right: 2.5px;
  padding-left: 2.5px;
}

.filled {
  fill: var(--primary);
}

.errorMessage {
  position: absolute;
  top: 50%;
  right: 0;

  margin: 0;

  transform: translateY(-50%);

  color: var(--tomato);

  font-size: 12px;
  line-height: 16px;
}
