.rating {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.rating button {
  cursor: pointer;
}

.rating li .star {
  display: block;

  width: 25px;
  padding-right: 2.5px;
  padding-left: 2.5px;
}

.filled {
  fill: var(--primary);
}
