.search {
  position: relative;
}

.input {
  padding-right: 45px;
}

.input input {
  width: 100%;

  text-overflow: ellipsis;
}

.button {
  position: absolute;
  top: 3px;
  right: 3px;

  width: 30px;
  height: 30px;
  padding: 6px 6px 7px 7px;
}

.button svg {
  transition: fill 0.3s ease-in-out 0s;
}

.button:focus-visible svg,
.button:enabled:hover svg {
  fill: var(--primary);
}
