.product {
  display: grid;
  grid-template-columns: [start] 70px [logo-end] 30px [title-start] calc(50% - 100px) [center] 1fr [price-start] auto [price-end] 40px [credit-start] auto [credit-end] 40px [rate-start] auto [end];

  padding: 30px;
}

.product hr {
  grid-column: start / end;

  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;

  border: none;
  background-color: var(--gray-light);
}

.logo {
  grid-column: start / logo-end;
  grid-row: 1 / span 2;
}

.logo img {
  display: block;

  border-radius: 5px;
}

.title {
  align-self: end;
}

.price {
  display: flex;
  flex-wrap: wrap;

  white-space: nowrap;
}

.price div {
  align-self: center;
}

.price,
.credit {
  align-self: end;

  font-size: 20px;
  line-height: 27px;
}

.discount {
  margin-left: 5px;
}

.credit span {
  font-size: 14px;
  line-height: 19px;
}

.rating {
  align-self: end;

  white-space: nowrap;
}

.priceLabel,
.creditLabel,
.rateLabel {
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.title,
.categories {
  grid-column: title-start / center;
}

.price,
.priceLabel {
  grid-column: price-start / price-end;
}

.credit,
.creditLabel {
  grid-column: credit-start / credit-end;
}

.rating,
.rateLabel {
  grid-column: rate-start / end;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;

  margin: 0;
  margin-top: 7px;
  padding: 0;

  list-style-type: none;
}

.description {
  grid-column: start / end;

  margin: 0;
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 24px;
}

.features {
  grid-column: start / center;

  padding-right: 60px;

  font-size: 16px;
  line-height: 22px;
}

.feature {
  display: grid;
  grid-template-columns: auto 1fr auto;

  align-items: baseline;
  column-gap: 10px;
}

.feature:not(:last-child) {
  margin-bottom: 10px;
}

.featureLabel {
  font-weight: bold;
}

.dots {
  border-bottom: 1px dashed var(--gray-light);
}

.featureValue {
  text-align: right;
}

.subtitle {
  margin: 0;

  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.advantages {
  grid-column: center / end;

  border-left: 2px solid var(--green);
}

.disadvantages {
  grid-column: center / end;

  margin-top: 20px;

  border-left: 2px solid #fc836d;
}

.advantages,
.disadvantages {
  padding-left: 15px;

  font-size: 16px;
  line-height: 22px;
}

.advantages .subtitle,
.disadvantages .subtitle {
  margin-bottom: 5px;
}

.actions {
  grid-column: start / end;
}

.reviewsButton {
  margin-left: 20px;
}

.reviews {
  padding: 30px;
}

.closed {
  overflow: hidden;

  max-height: 0;
  padding: 0;
}

.opened {
  max-height: none;
}

@media screen and (max-width: 1320px) {
  .product {
    grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
    grid-template-areas:
      "logo . title title title title title"
      "logo . tags tags tags tags tags"
      "price price price . credit . rating"
      "priceLabel priceLabel priceLabel . creditLabel . ratingLabel"
      "hr hr hr hr hr hr hr"
      "description description description description description description description"
      "features features features features features features features"
      "advantages advantages advantages . disadvantages disadvantages disadvantages"
      "hr2 hr2 hr2 hr2 hr2 hr2 hr2"
      "actions actions actions actions actions actions actions";
  }

  .logo {
    grid-area: logo;
  }

  .title {
    grid-area: title;
  }

  .categories {
    grid-area: tags;

    margin-bottom: 20px;
  }

  .price {
    grid-area: price;
  }

  .credit {
    grid-area: credit;
  }

  .rating {
    grid-area: rating;
  }

  .priceLabel {
    grid-area: priceLabel;
  }

  .creditLabel {
    grid-area: creditLabel;
  }

  .rateLabel {
    grid-area: ratingLabel;
  }

  .product hr:nth-of-type(1) {
    grid-area: hr;
  }

  .description {
    grid-area: description;
  }

  .features {
    grid-area: features;

    margin-bottom: 20px;
  }

  .advantages {
    grid-area: advantages;
  }

  .disadvantages {
    grid-area: disadvantages;
  }

  .actions {
    grid-area: actions;
  }

  .product hr:nth-of-type(2) {
    grid-area: hr2;
  }
}

@media screen and (max-width: 640px) {
  .product {
    grid-template-columns: 70px 30px 1fr;
    grid-template-areas:
      "logo . title"
      "logo . tags"
      "priceLabel priceLabel price"
      "creditLabel creditLabel credit"
      "ratingLabel ratingLabel rating"
      "hr hr hr"
      "description description description"
      "features features features"
      "advantages advantages advantages"
      "disadvantages disadvantages disadvantages"
      "hr2 hr2 hr2"
      "actions actions actions";
  }

  .price,
  .credit,
  .rating {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .product {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "title"
      "tags"
      "priceLabel"
      "price"
      "creditLabel"
      "credit"
      "ratingLabel"
      "rating"
      "hr"
      "description"
      "features"
      "advantages"
      "disadvantages"
      "hr2"
      "actions";
  }

  .priceLabel,
  .creditLabel,
  .rateLabel {
    margin-bottom: 5px;
  }
}
