:root {
  --black: #3b434e;
  --gray: #6c7077;
  --gray-light: #ebebeb;
  --green: #247a56;
  --green-light: #c8f8e4;
  --purple: #7351f5;
  --red: #de0000;
  --tomato: #fc836d;
  --white: #ffffff;
  --background: #f5f6f8;
  --primary: var(--purple);
  --primary-hover: #6340de;
  --font-primary: "Noto Sans KR", "Arial", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  cursor: default;

  color: var(--black);

  background-color: var(--background);

  font-family: var(--font-primary);
}

a {
  text-decoration: none;

  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
